/* Apparence d'un tableau */
table {
    /* TODO */
}

/* Apparence d'un en-tête de tableau */
thead {
    /* TODO */
}

/* Apparence du corps d'un tableau */
tbody {
    /* TODO */
}

/* Apparence d'une colonne d'en-tête de tableau */
th {
    /* TODO */
}

/* Apparence d'une ligne d'un tableau */
tr {
    /* TODO */
}

/* Apparence d'une cellule tableau */
td {
    /* TODO */
}

/* Apparence de l'en-tête de page */
header {
    /* TODO */
}

/* Apparence du pied de page */
footer {
    /* TODO */
}